body { font-family: arial; font-size: 12px;}
header {padding: 20px 0px;}
h1 { font-size: 2em;}
ul { display: block; margin: 30px}
ul li { display: inline-block;}
ul li a { color: #333; padding: 10px; border: 1px solid #333; margin-right: 20px; border-radius: 4px }

.wrapper { max-width: 900px; margin: 0 auto;}

.red text { font-size: 12px; font-weight: normal; fill: red}
.red line { stroke: red; stroke-linecap:round; stroke-dasharray:3, 5;}