body { font-family: arial; font-size: 12px;}
header.wrapper {padding: 20px 0px; border-bottom: solid 1px #ccc; margin-bottom: 20px}
a {color: #335577;} 
h1 { font-size: 2em; font-family: sans-serif}
h2 { font-size: 1.5em;}
h3 { font-size: 1.2em;}
h4 { font-size: 1.1em;}
/*h1, h2 { font-weight: bold;}*/

.wrapper { max-width: 900px; margin: 0 auto;}

ul { display: block; margin: 30px; text-align: right;}
ul li { display: inline-block;}
ul li a { color: #333; padding: 5px 10px; border: 1px solid #333; margin-right: 20px; border-radius: 4px; text-decoration: none; }
ul li a.active { color: #fff; background: #333}
small { font-size: 14px}

#chart .red text { font-size: 12px; font-weight: normal; fill: red}
#chart .red line { stroke: red; stroke-linecap:round; stroke-dasharray:3, 5;}
#chart .line_dotted line { stroke-linecap:round; stroke-dasharray:3, 5;}
/*
#chart .c3-line-IPC-San-Luis { stroke: #000;}
#chart .c3-line-IPC-INDEC { stroke-color: #000 !important;  stroke-width: 15px; }
*/
#chart .c3-line { stroke-width: 2px;}
#chart .c3-line-IPC-San-Luis-acumulado-anual, #chart .c3-line-IPC-INDEC-acumulado-anual { stroke-linecap:round; stroke-dasharray:2, 5; }

footer.wrapper  { border-top: solid 1px #ccc; padding: 10px; margin-top: 20px;}
footer a.datos { float: right;}